body{
    color: #050505 !important;
    background-color: rgba(0,0,0,0) !important;
    margin-right: 50px !important;
    margin-left: 50px !important;
    margin-top: 25px !important;
    margin-bottom: 100px !important;
	font-family: 'Open Sans Regular', sans-serif !important;
}

html *
{
    color: #050505 !important;
    font-family: 'Open Sans Regular', sans-serif !important;
}

::-moz-selection {
    background-color: #ffffad;
    color: #000000;
}

::selection {
    background-color: #ffffad;
    color: #000000;
}