body{
    color: #f5f5f5 !important;
    background-color: #252525 !important;
    margin-right: 50px !important;
    margin-left: 50px !important;
    margin-top: 25px !important;
    margin-bottom: 100px !important;
}