[Desktop Entry]
Categories=Office;Viewer;
MimeType=application/epub+zip;
Exec=easy-ebook-viewer %f
Icon=easy-ebook-viewer
StartupNotify=false
Terminal=false
Type=Application
Name=Easy eBook Viewer
Comment=Simple and modern eBook reader